<!doctype html>
<html>
<head>
<title>Homepage</title>
</head>
<body>
<p><h1>Welcome to Marketwise: Market Insights for those on the go!</h1></p>
<p><h2>News topics</h2></p>
<p><h3><a href="equity">Equity</a></h3></p>

<p><h2>The world</h2></p>
<p><h3><a href="northamerica">North America</a></h3></p>
<p><h3><a href="southamerica">South America</a></h3></p>
<p><h3><a href="europe">Europe</a></h3></p>
<p><h3><a href="africa">Africa</a></h3></p>
<p><h3><a href="asia">Asia</a></h3></p>
<p><h3><a href="australia">Australia</a></h3></p>

</body>
</html?

<link rel="stylesheet" type="text/css" href="start.css">
